body{
    background-color: aquamarine;
}

h1{
    font-size:4vw;
    text-align: center;
    color: blueviolet;

}

h3{
    display: inline-block;
    font-size: 2vw;
}

#player1{
    position: absolute;
    left: 30vw;
}

#player2{
    position: absolute;
    left:60vw;
}

#dice1{
    /* background-color: brown; */
    /* height: 30vh; */
    /* width: 20vw; */
    position: absolute;
    top:35vh;
    left: 25vw;
}

#dice2{
    /* background-color: brown; */
    /* height: 30vh; */
    /* width: 20vw; */
    position:absolute;
    top:35vh;
    left:55vw;
}

.di1{
    /* display: inline; */
    position: absolute;
}
.di2{
    position: absolute;
}

@media screen and (max-width:320px) {
    img{
        width: 80px;;
    }
    
}
@media screen and (max-width:400px) {
    img{
        width: 80px;;
    }
    
}
@media screen and (max-width:500px) and (min-width:400px){
    img{
        width: 110px;;
    }
    
}
@media screen and (max-width:700px) and (min-width:500px) {
    img{
        width: 150px;;
    }
    
}
@media screen and (max-width:800px) and (min-width:700px) {
    img{
        width: 180px;;
    }
    
}
@media screen and (max-width:900px) and (min-width:800px) {
    img{
        width: 200px;;
    }
    
}
